.cardboxContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 20px;
}

.cardBox {
  width: 360px;
  height: 130px;
  border-radius: 5px;
  border: 1px solid rgba(139, 137, 249, 0.2);
  position: relative;
  overflow: hidden;
}

.cardBox .circle {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(139, 137, 249, 0.1);
  width: 270px;
  height: 270px;
  top: -70px;
  right: -20px;
}

.cardBoxContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
